<main>
  <h1>Dashboard</h1>

  <section>
    <h2>Active Plan</h2>
    <% if @active_plans.any? %>
      <article>
        <% @active_plans.each do |plan| %>
          <h3><%= link_to plan.name, plan_path(plan) %></h3>
          <p><%= plan.days %> days</p>
        <% end %>
      </article>
    <% else %>
      <p>No active plan</p>
    <% end %>
  </section>

  <% if @past_plans.any? %>
    <section>
      <h2>Past Plans</h2>
      <% @past_plans.each do |plan| %>
        <article>
          <h3><%= link_to plan.name, plan_path(plan) %></h3>
          <p><%= plan.days %> days</p>
        </article>
      <% end %>
    </section>
  <% end %>
</main>

