/* Navigation Styles */

.sidenav {
  grid-area: sidenav;
  padding: 20px;
}

.sidenav-list {
  list-style: none;
  padding: 0;
}

.sidenav-list form,
.bottom-nav-list form {
  margin: 0;
  padding: 0;
}

.sidenav-list button,
.bottom-nav-list button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  width: 100%;
  padding: 0;
  color: inherit;
}

.main {
  grid-area: main;
  min-width: 0;
}

.bottom-nav {
  display: none;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main" "bottom-nav";
  }
  
  .sidenav {
    display: none;
  }

  .main {
    padding-bottom: 80px; /* Space for fixed bottom nav */
  }

  .bottom-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    padding: 10px;
  }
}

